.container{
    width: fit-content;
    padding: var(--space-ss);
    border-radius: var(--rounded-sm);
}

.container:hover{
        background-color: var(--select-box-color);
        color: var(--base-color);
}

.item{
    font-size: var(--font-size-ss);
    font-weight: var(--font-weight-bold);
}
