.container{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
}

.name{
    font-size: var(--font-size-xs);
    color: var(--sub-color);
}