.box{
    padding-inline: var(--space-xs);
    padding-block: var(--space-ss);
    border: 1px solid var(--text-color-secondary);
    border-radius: var(--rounded-sm);
    font-size: var(--font-size-ss);
}