.card__item{
    width: fit-content;
    padding-inline: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.card__item:first-child img{
    object-position: right;
}

.card__item:nth-child(2) img{
    object-position: 63%;
}

.desc{
    display: flex;
    justify-content: space-between;
}

.adjust{
    align-self: flex-start;
}