.container{
    margin-inline: auto;
    display: grid;
    grid-template-columns: minmax(0,1fr);
    gap: var(--space-md);
}

@media (min-width:500px) {
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 768px) {
    .container{
        max-width: 994px;
        grid-template-columns: repeat(3,1fr);
    }
}