.container{
    width: 100%;
    max-width: 994px;
    /* ページ上部に固定しているheader_navの高さ71px */
    margin-block-start: 71px;
    margin-block-end: 60px;
    aspect-ratio: 9/16;
    background-image: url(../../../assets/FirstView.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    padding: var(--space-ss);
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:500px) {
    .container{
        margin-inline: auto;
        aspect-ratio: 2/1;
    }
}