.container{
    width: min(calc(100% - 32px), 994px);
    /* コンポーネント呼び出す親元でコンテンツ幅制御するなら不要になる？ */
    aspect-ratio: 9/16;
    background-image: url(../../../assets/FirstView.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    padding: var(--space-ss);
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}