.sectionTitle{
    width: fit-content;
    padding-block: var(--space-sm);
    border-block: 1px solid var(--text-color-black);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
}