@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{
    /* Color */
    --base-color: #FFFFFF;
    --main-color: #000000;
    --accent-color: #CD3796;
    --sub-color: #808080;
    --text-color-primary: var(var(--main-color));

    --text-color-secondary: #333333;
    --thumbs-up-color: #FE287A;
    --thumbs-down-color: #01A1EB;
    --radio-button-color: #1A73E8;
    --select-box-color: #4F96F3;
    --select-box-menu-color: #BDBDBD;

    /* Font-size */
    /* 12px */
    --font-size-xs: 0.75rem;
    /* 13px */
    --font-size-ss: 0.8125rem;
    /* 14px */
    --font-size-sm: 0.875rem;
    /* 15px */
    --font-size-md: 0.9375rem;
    /* 20px */
    --font-size-lg: 1.25rem;
    /* 24px */
    --font-size-xl: 1.5rem;

    /* Font-weight */
    --font-weight-nomal: 400;
    --font-weight-bold: 700;

    /* Spacing */
    --space-xs: 0.5rem;
    --space-ss: 0.625rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 2rem;

    /* radius */
    --rounded-sm: 2px;
    --rounded-md: 16px;

    /* Max-width */
    --max-width-sp: 375px;
}

body{
    font-family: "Lexend", sans-serif;
    font-weight: var(--font-weight-nomal);
    color: var(--main-color);
}

img{
    max-width: 100%;
    height: auto;
}
