@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{
    /* color */
    --textColor: #333;
    --accentColor: #CD3796;


}

body{
    font-family: "Lexend", sans-serif;
    font-weight: 400;
}