@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{
    /* Color */
    --base-color: #FFFFFF;
    --main-color: #000000;
    --accent-color: #CD3796;
    --sub-color: #808080;
    --text-color-primary: var(var(--main-color));

    --text-color-secondary: #333333;
    --thumbs-up-color: #FE287A;
    --thumbs-down-color: #01A1EB;

    /* Font-size */
    /* 12px */
    --font-size-xs: 0.75rem;
    /* 13px */
    --font-size-ss: 0.8125rem;
    /* 14px */
    --font-size-sm: 0.875rem;
    /* 15px */
    --font-size-md: 0.9375rem;
    /* 18px */
    --font-nav-menu: 1.125rem;
    /* 20px */
    --font-size-lg: 1.25rem;
    /* 24px */
    --font-size-xl: 1.5rem;

    /* Font-weight */
    --font-weight-nomal: 400;
    --font-weight-bold: 700;

    /* Spacing */
    /* 4px */
    --space-xxs: 0.25rem;
    /* 8px */
    --space-xs: 0.5rem;
    /* 10px */
    --space-ss: 0.625rem;
    /* 12px */
    --space-sm: 0.75rem;
    /* 16px */
    --space-md: 1rem;
    /* 32px */
    --space-lg: 2rem;
    /* 40px */
    --space-ll: 2.5rem;
    /* 48px */
    --space-xl: 3rem;
    /* 120px */
    --space-xxl: 7.5rem;

    /* Radius */
    --rounded-sm: 2px;
    --rounded-md: 4px;
    --rounded-lg: 16px;
}

body{
    font-family: "Lexend", sans-serif;
    font-weight: var(--font-weight-nomal);
    color: var(--main-color);
}

.container {
    width: min(calc(100% - 32px), 994px);
    margin-inline: auto;
}

img{
    max-width: 100%;
    height: auto;
}

::placeholder{
    color: var(--text-color-secondary);
    font-size: var(--font-size-sm);
    font-weight: 500;
}

ul li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: inherit;
}