.header__nav{
    padding-block: var(--space-md);
    position: relative;
    z-index: 10;
}

.active{
    composes: header__nav;
    background-color: var(--accent-color);
}

.header__logo{
    width: min(calc(100% - 32px), 994px);
    padding-inline: var(--space-md);
    margin-inline: auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed;
    top: 0%; */
    z-index: 10;
}

.modal{
    width: 100%;
    padding-block: var(--space-xxl);
    display: flex;
    justify-content: center;
    gap: var(--space-ll);
    background-color: #fffc;
    position: fixed;
    top: -100%;
    transition: all .3s ease-in-out; 
}

.open{
    composes: modal;
    top: 0%;
}
