.header_container{
    width: 100%;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--base-color);
}

.header__nav{
    padding-block: var(--space-md);
    position: relative;
    z-index: 10;
}

.active{
    composes: header__nav;
    background-color: var(--accent-color);
}

.header__logo{
    padding-inline: var(--space-md);
    margin-inline: auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    width: 100%;
    /* 120px + header_navの高さ68px */
    padding-block-start: calc(120px + 68px);
    padding-block-end: var(--space-xxl);
    display: flex;
    justify-content: center;
    gap: var(--space-ll);
    background-color: #fffc;
    position: fixed;
    /* 親要素がposition: fixed;になり基準が変わったことで-100％では画面外に消えないため調整 */
    top: -700%;
    transition: all .3s ease-in-out; 
}

.open{
    composes: modal;
    top: 0%;
}

@media (min-width: 768px) {
    .header_container{
        max-width: 994px;
        margin-inline: auto;
        padding-block: var(--space-sm);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pc_only {
        width: fit-content;
        padding-block: 0;
        background-color: inherit;
        position: static;
        transition: none;
    }
    .pc_only ul{
        gap: var(--space-md);
    }
}